#---------------------------------------------------
# General Git Ignore for Flutter Projects
#---------------------------------------------------

# Build artifacts and compiled code
/build/
/.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.main.dart.d
.main.dart.incremental.d

# IDE files (Android Studio/IntelliJ, VS Code)
.idea/
.vscode/

# Dependency cache files
/pubspec.lock
# If you want to force all collaborators to use the same versions,
# you might want to track pubspec.lock, but generally it is ignored.

# Native Platform Specific
# Keep the essential configuration files, but ignore build output and user settings.

# Android
/android/local.properties
/android/.gradle/
/android/app/build/
/android/build/
/android/app/.cxx/
/android/app/.externalNativeBuild/
/android/app/intermediates/

# iOS/macOS
/ios/.symlinks/
/ios/Flutter/Generated.xcconfig
/ios/Pods/
/ios/.generated/
/macos/.symlinks/
/macos/Flutter/Generated.xcconfig
/macos/Pods/

# Windows/Linux
/windows/flutter/ephemeral/
/linux/flutter/ephemeral/

# Other
*.iml
*.iws
*.bak
*~
# Logs and crash dumps
*.log
*.dmp